<footer class="footer" id="contacts">
	<div class="container">
		<div class="footer__inner">
			<h2 class="footer__title">
				Контакты
			</h2>
			<dl class="footer__contacts">
				<div class="footer__contacts-item">
					<dt>Телефон</dt>
					<dd>+1 (123) 456-7890</dd>
				</div>
				<div class="footer__contacts-item">
					<dt>Часы работы</dt>
					<dd>Пн-Сб с 9:00 до 19:00<br>
						На связи с клиентами 24/7</dd>
				</div>
				<div class="footer__contacts-item">
					<dt>Адрес</dt>
					<dd>улица Зеленая, д. 1, Ваш город</dd>
				</div>
			</dl>
			<div class="footer__bottom">
				<a class="logo footer__logo" href="#">
					<img src="images/logo-black.svg" alt="logo black">
				</a>
				<button class="footer__btn btn open-modal">
					закажите консультацию </button>
				<button id="scrollToTop" class="scroll-to-top">&#8593;</button>
			</div>
		</div>
	</div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="js/main.min.js"></script>
</body>

</html>